body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}
header {
    display: flex;
    justify-content: center;
}
header img {
    margin: 10px 0 25px 0;
}
.main-section{
    height: 50px;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(154, 105, 203, 0.1) !important;
}
.section-block{
    width: 100%;
    justify-content: space-between;
    padding: 11px 0 0 580px;
}
.button{
    display: flex;
justify-content: center;
background-color: rgba(154, 105, 203, 0.1) !important;
font-size: 17px;
border-color: rgb(177, 149, 204);
color: rgb(177, 149, 204);
border-radius: 5px;
border: 2px solid rgb(177, 149, 204);

}
