/* 
 .optomfooter{
    margin: -645px 0 0 0;
}
.Kutmantort3 {
    padding: 30px 0 0 30px;
    margin-top: 20px;
} */
.tort5 {
    display: flex;
   margin-left: 230px;
   margin-top: 70px;
} 
.Kutmantort6 {
    padding: 30px 0 0 30px;
    margin-top: 30px;

}
.tort6 {
    display: flex;
   margin-left: 230px;
   margin-top: 30px;
}